# 依賴目錄
node_modules/
*/node_modules/
**/node_modules/

# 日誌檔案
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 編輯器目錄和文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 環境變數
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 構建輸出目錄
dist
dist-ssr
build
coverage

./backend/node_modules/*.*

frontend/node_modules/vue-router/dist/vue-router.node.mjs
backend/node_modules/bcryptjs/README.md
backend/node_modules/*
backend/node_modules/.bin/mkdirp.cmd
chromedriver-linux64/
chromedriver-linux64.zip
